*.psd
*.o
.DS_Store
*~
.~lock*
*.uvopt
*.dep
*.bak
*.uvgui.*
*.uvguix.*

UNSupport/

*.swp
*.save
.project
.settings
.cproject
obj/
patches/
.idea
*.crf
*.d
*.lnp

# artefacts of top-level Makefile
/downloads/
/build/
# local changes only
make/local.mk

# artefacts for VisualGDB (running in Visual Studio)
mcu.mak
mcu.mak.old
stm32.mak

# eclipse launch configurations
/support/eclipse

# ozone launch configurations
/support/ozone

# artefacts for Visual Studio Code
/.vscode/

# artefacts for CLion
/cmake-build-debug/

.vagrant
ubuntu*.log
/.vs
